<footer style="padding:20px 0 10px 0;margin:0; margin-top:20px;color:white;background:#5d1414;">
    <div class="container">
        <div class="row">
        
            <div class="col-lg-12 text-center">
              <p>Developer: Shubham Mishra</p>
                        <p>Follow Us :&nbsp;
                            <a  class="an" href="https://www.facebook.com/shubham.k.mishra.96" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;
                            <a class="an" href="https://plus.google.com/u/0/110765287487873559848" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;&nbsp;
                           <a class="an" href="https://www.youtube.com/channel/UC3MiYGQddEPR3mlybjaxriQ" target="_blank"><i class="fa fa-youtube fa-2x"></i></a> &nbsp;&nbsp;
						                     	<a class="an" href="https://www.linkedin.com/in/shubham-mishra-971aa6159/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                        </p>

           </div>
         </div>
     </div>
 </footer> 
 <style>
  .an
  {
   color:#afcee9;
  }
 </style>
 </body>
</html>

