<% include  partials/header %>
<!--hide dropdown button-->
<style>
  .dropbtn
  {
    display:none;
  }
/*=========================*/
</style>
<link rel="stylesheet" href="/stylesheet/register.css">
<form action="/login" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h1>Login Page</h1>
    <p>Please fill in this form to Log in.</p>
    <hr>

    <label for="username"><b>UserName</b></label>
    <input type="text" placeholder="Enter UserName" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="Pass"required>
    
    <label>
      <input type="checkbox"   onclick="showPass()" style="margin-bottom:15px"> Show Password
    </label>
    <p>Don't have any account? <a href="/register"> Signup Here</a></p>
    <div class="clearfix">
      <a href="/campgrounds"><button type="button" class="cancelbtn">Cancel</button></a>
      <button type="submit" class="signupbtn">Login</button>
    </div>
    
  </div>
</form>
<script>
  function showPass()
  {
    console.log("FUnctioncall");
    var x = document.getElementById("Pass");
    if(x.type==="password")
    {
      x.type="text";
    }else{
      x.type="password";
    }
  }

</script>


<% include partials/footer %>