 <html>
    <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="../stylesheet/chat.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" charset="utf-8"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
    <body>
        <div id="chat">
             
             <button id="chatbtn">
                <span class="glyphicon glyphicon-envelope"></span> chat </a>
             </button>
             
        </div>
        
    <div id="Mymodal" class="modal">
            <div class="container">
              <div class="row">
               <div class="col-md-7 col-sm-7 col-lg-7" style="
                        width: 100%;">
  
	              <div class="panel panel-danger" id="panel">
	                   <span id="close" class="glyphicon glyphicon-remove"></span>
			        <div class="panel-heading" id="panel-heading">
			           <h3 id="panel-title">Chats</h3>
			           <input id="username" name="name" value="<%=currentUser.username%>" readonly style="display:none;">
			        </div>
		 
		            <div class="panel-body">
    		            <div id="output"></div>
    				         <input id="message" type="text" name="text" class="form-control" placeholder="Write Your message here...">
    				         <input id="button" type="submit" name="submit" class="btn btn-outline" value="Send">
    		                 
    	
		            </div>
	              </div>
                </div>
  
                </div>
           </div>
       </div>
    </div>
        <script>
                    var modal=document.getElementById("Mymodal");
                    var button=document.getElementById("chatbtn");
                    var span=document.getElementById("close");
                    button.onclick=function()
                    {
                      modal.style.display="block"; 
                    }
                    span.onclick=function()
                    {
                        modal.style.display="none";
                    }
                    window.onclick=function(event)
                    {
                        if(event.target == modal)
                        {
                            modal.style.display="none";
                        }
                    }
                    //Script
                       //Make connection;

                    var socket=io();
                    console.log('hi');
                    
                    //Query DOM
                    
                    var username=document.getElementById('username').value;
                    username.innerHTML='<strong>'+username+'</strong>';
                    var message=document.getElementById("message");
                    var btn=document.getElementById("button");
                    var output=document.getElementById("output");
                    
                    //on Pressing enter key....
                    document.getElementById('message').addEventListener("keydown",function(e){
                      if(e.keyCode == 13){
                      if(message.value==="")
                        {
                            alert("Text message blank....")
                        }
                        else{
                        socket.emit('chat',{
                            message:username+": "+message.value
                        });
                        message.value="";}
                      } 
                    });
                    
                    //Emit Event====
                    btn.addEventListener("click",function()
                    {
                        if(message.value==="")
                        {
                            alert("Text message blank....")
                        }
                        else{
                        socket.emit('chat',{
                            message:username+": "+message.value
                        });
                        message.value="";}
                    });
                    
                    //listen Event on frontend===
                    var i=0;
                    var d = new Date();
                    var n = d.toLocaleTimeString();
                    
                    socket.on('chat',function(data)
                    {
                        if(i%2==0)
                         output.innerHTML+='<div class="alert alert-info" style="word-wrap:break-word;width:"100px";margin-left:40%;margin-right:5px">'+data.message+'<br><small><span class="glyphicon glyphicon-time">'+n+'</span></small> </div><hr>'
                        else
                         output.innerHTML+='<div class="alert alert-warning"style="word-wrap: break-word;width:"100px";margin-right:40%;margin-left:5px">'+data.message+'<br><small><span class="glyphicon glyphicon-time">'+n+'</span></small> </div><hr>'
                        i++;
                        output.scrollTop=output.scrollHeight;
                    });

                    //
        </script>
    </body>
</html>